<div class="text-white">

<h5>Cadastro de Cursos</h5>
<p>Preencha os campos para cadastro de Curso</p>

<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

    <div *ngIf="mensagem" class="mb-3 alert alert-primary">
        <strong>{{mensagem}}</strong>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="">descricao</label>
            <input type="text" class="form-control" formControlName="descricao">
            <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
                <span *ngIf="form.descricao.errors.required">
                    Informe o a descricao do curso
                </span>
            </div>
        </div>

        <div class="col-md-3">
            <label for="">Data de Inicio</label>
            <input type="date" class="form-control" formControlName="dataInicio">
            <div class="text-danger" *ngIf="form.dataInicio.touched && form.dataInicio.invalid">
                <span *ngIf="form.dataInicio.errors.required">
                    Informe a data de inicio
                </span>
            </div>
        </div>

        <div class="col-md-3">
            <label for="">Data de Termino</label>
            <input type="date" class="form-control" formControlName="dataFim">
            <div class="text-danger" *ngIf="form.dataFim.touched && form.dataFim.invalid">
                <span *ngIf="form.dataFim.errors.required">
                    Informe a data de termino
                </span>
            </div>
        </div>


        <div class="col-md-3">
            <label for="">quantidade de alunos</label>
            <input type="number" class="form-control" formControlName="qtdAlunos">
            <div class="text-danger" *ngIf="form.qtdAlunos.touched && form.qtdAlunos.invalid">
                <span *ngIf="form.qtdAlunos.errors.required">
                    Informe a quantidade de alunos
                </span>
            </div>
        </div>

        <div class="col-md-3">
            <label for="categoria">Categoria</label>
            <select class="form-control" formControlName="categoria" id="categoria">
              <option *ngFor="let categoria of categoria" value="{{categoria.idCategoria}}">{{categoria.categoria}}</option>
            </select>

            <div class="text-danger" *ngIf="form.categoria.touched && form.categoria.invalid">
                <span *ngIf="form.categoria.errors.required">
                    Informe a categoria
                </span>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" [disabled]="!formCadastro.valid" class="btn btn-success" value="Realizar o Cadastro">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" [routerLink]="['/consultar-curso']" value="Consultar Cursos">
        </div>
    </div>
</form>