.fs-1{
    font-size: 5rem !important;
    font-family: 'Cormorant', serif;
    color: #f7f7f7;
}


.fundo{
    padding-left: 64rem !important;
    height: auto;
}

.fundo2{
    background: #793c56
    
}

