<div class="container-fluid text-white bgFundo">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="row text-center">
        <div class="col-md-12 ">
          <h4 class="fs-1">Seja bem vindo!!</h4>
          <br>
          <br>
          <h5>Seus primeiros passos:</h5>
          &nbsp; &nbsp; &nbsp;
          <button class="btn btn fundo2 text-white " [routerLink]="['/cadastrar-curso']">Cadastrar um curso</button>
          &nbsp;
          <button class="btn btn fundo2 text-white " [routerLink]="['/consultar-curso']">Consultar um curso</button>

        </div>
      </div>
    </div>
  </div>