<div class="bgFundo">
  <nav class="navbar navbar-expand-lg  navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema de Curso</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Opções
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="cadastrar-curso">Cadastrar Curso</a></li>
              <li><a class="dropdown-item" routerLink="consultar-curso">Consultar Curso</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="">
        <a class="nav-link text-white" routerLink="">Home</a>
      </div>
    </div>
  </nav>

  <!--Local para exibir o conteúdo das páginas-->

  <div class="container ">

    <div class="card-body">
      <router-outlet></router-outlet>
    </div>

  </div>

  <footer class="page-footer font-small ">
    <div>
      <h4 class="text-white ">Desenvolvido por Tech9</h4>
      <p class="text-white">@ 2023 Copyright</p>
    </div>
  </footer>